/*Copyright <zyluss.github.io> Zyluss*/
 
@charset "UTF-8";

/***************************
****************************
Fonts
****************************
***************************/
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300);

/* Page layout */
body {
  background: #111; 
  color: #ecf0f1;
  margin-top: 3em
}
/**/

/***************************
****************************
The Foundation
****************************
***************************/
.true-tabs * { 
	margin: 0; 
	padding: 0;
	border:0;
	background: 0 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word
}
h3, h2{
    color:#630063; 
}

.true-tabs {
  position: relative;
  /* Fixes inline-block spacing
  Segoe UI Font Stack */
	font: 300 0/1.5 "Open Sans", "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  color: #ecf0f1;
  width: 90%; /* Modify width here */
  margin: 0 auto
}

.true-tabs input {display: none} /* Hides checkboxes */

.true-tabs label {
  font-size: 16px;
  line-height: 40px;
  z-index: 1;
	display: inline-block;
  width: 25%;
	/* Gives an inset look */
  border: 1px solid #222;
  border-left-color: #555;
	/**/
  text-align: left;
	cursor: pointer
}

.true-tabs label span {
    display: block;
    background: #404040
}

.true-tabs label span span {
  padding: 0 1em;
  background: 0 0;
	border: 2px solid transparent;
  -webkit-transition: border .4s;
  transition: border .4s
}

.true-tabs input:checked+label {cursor: default}

.true-tabs ul {
  list-style: none;
  position: relative;
  display: block;
	font-size: 16px  /* Apply font-size */
}

.true-tabs ul li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    text-align: left;
    padding: 1em 1.5em;
    background: #404040;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    border-top: 1px solid #666;
    border-right: 1px solid #222;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
	/* Make text selectable */
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
	/**/
}


/***************************
****************************
Color Schemes
****************************
***************************/

/* White */
.color1 input:checked+label span span,
.color1 label:hover span span,
.true-tabs input:checked+label span span,
.true-tabs label:hover span span {
    border-bottom-color: #ecf0f1
}

/* Blue */
.color2 input:checked+label span span,
.color2 label:hover span span {
    border-bottom-color: #2980b9
}

/* Red */
.color3 input:checked+label span span,
.color3 label:hover span span {
    border-bottom-color: #cc0f16
}

/* Green */
.color4 input:checked+label span span,
.color4 label:hover span span {
    border-bottom-color: #27ae60
}

/* Purple */
.color5 input:checked+label span span,
.color5 label:hover span span {
    border-bottom-color: #b075c9
}

/* Orange */
.color6 input:checked+label span span,
.color6 label:hover span span {
    border-bottom-color: #ff7921
}

/* Yellow */
.color7 input:checked+label span span,
.color7 label:hover span span {
    border-bottom: 2px solid #e8de2a
}


/***************************
****************************
Animations
****************************
***************************/
.true-tabs>.content1:checked~ul>.content1,
.true-tabs>.content2:checked~ul>.content2,
.true-tabs>.content3:checked~ul>.content3,
.true-tabs>.content4:checked~ul>.content4
/* Used for animations; add more as needed */
 {
    position: relative;
    z-index: 1;
    opacity: 1;  /* Default - fade effect */
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

/* Slide Up */
.animation1 ul li {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px)
}

/* Slide Down */
.animation2 ul li {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px)
}

/* Slide Left */
.animation3 ul li {
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px)
}

/* Slide Right */
.animation4 ul li {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px)
}

/* Slide Up + Left */
.animation5 ul li {
    -webkit-transform: translate(-30px, -30px);
    -ms-transform: translate(-30px, -30px);
    transform: translate(-30px, -30px)
}

/* Slide Up + Right */
.animation6 ul li {
    -webkit-transform: translate(30px, -30px);
    -ms-transform: translate(30px, -30px);
    transform: translate(30px, -30px)
}

/* Slide Down + Left */
.animation7 ul li {
    -webkit-transform: translate(-30px, 30px);
    -ms-transform: translate(-30px, 30px);
    transform: translate(-30px, 30px)
}

/* Slide Down + Right */
.animation8 ul li {
    -webkit-transform: translate(30px, 30px);
    -ms-transform: translate(30px, 30px);
    transform: translate(30px, 30px)
}

/* Flip */
.animation9 ul {
    -webkit-perspective: 2000px;
    perspective: 2000px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%
}
.animation9 ul li {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg)
}

/* Fix for Vertical */
.animation9.vleft > ul > li {
	-o-transform: rotateY(90deg);
	-ms-transform: rotateY(90deg);
	-moz-transform: rotateY(90deg);
	-webkit-transform: rotateY(90deg)
}
.animation9.vright > ul > li {
	-o-transform: rotateY(-90deg);
	-ms-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	-webkit-transform: rotateY(-90deg)
}
/**/


/***************************
****************************
Layouts
****************************
***************************/

/* Horizontal Layouts */
.left label, .center label, .right label { width: auto }
.left { text-align: left}
.center {text-align: center}
.right {text-align: right}

/* Vertical Layouts */
.vleft > label,
.vright > label {
	display: block;
	width: 25%;
	float: left;
	clear: left;
	margin-right: 0
}
.vright > label {
	float: right;
	clear: right
}
.vleft > ul {margin-left: 25%}
.vright > ul {margin-right: 25%}
.vright ul li {
	-o-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-moz-transform-origin: 100% 0%;
	-webkit-transform-origin: 100% 0%;
}


/***************************
****************************
Typography Set
****************************
***************************/

/* Headings */
.true-tabs ul li h1,
.true-tabs ul li h2,
.true-tabs ul li h3 {
	font-weight: 300;
	line-height: 1.3
}
.true-tabs ul li h1 {font-size:48px}
.true-tabs ul li h2 { font-size:42px}
.true-tabs ul li h3 {font-size: 36px}
/**/

/* Paragraphs */
.true-tabs ul li p {
    margin-bottom: 1em;
    font-size: 1em
}
/**/

/* Links */
.true-tabs ul li a {color: #ecf0f1}
.true-tabs ul li a:hover,
.true-tabs ul li a:focus {text-decoration: none}
.true-tabs ul li a:active { position: relative; top: 1px }
/**/

/* Citations - Only place at the end of a parapraph */
.true-tabs ul li .cite {
    text-align: right;
    font-style: italic
}
.true-tabs ul li .cite:before {
    content: "-";
    margin-right: 5px
}
/**/

/* Icon Font - FontAwesome */
.fa {
    margin-right: 10px;
    font-size: 1em /* Icon will always be same size as text */
}
/**/

/***************************
****************************
Grid System
****************************
***************************/
.true-tabs .grid-row {margin-top: 1em}

/* Clearfix */
.true-tabs .grid-row:after {
	content: '';
	display: table;
	clear: both
}
/**/

.true-tabs .grid-column {
	display: block;
	float: left;
	width: 100%;
	margin-left: 2%
}

.true-tabs .grid-col:first-child {margin-left: 0}

/* Use these classes with .grid-col - must add up to 9 */
.true-tabs .grid-column-1 {width: 10%}
.true-tabs .grid-column-2 {width: 20%}
.true-tabs .grid-column-3 {width: 30%}
.true-tabs .grid-column-4 {width: 40%}
.true-tabs .grid-column-5 {width: 50%}
.true-tabs .grid-column-6 {width: 60%}
.true-tabs .grid-column-7 {width: 70%}
.true-tabs .grid-column-8 {width: 80%}
.true-tabs .grid-column-9 {width: 90%}
.true-tabs .grid-column-10 {width:100%}


@media screen and (max-width: 64em) {

.true-tabs .grid-column,
.true-tabs .grid-column:first-child {
		float: none;
		width: 100%;
		margin: 20px 0 0 0
	}
	
 .true-tabs > label {
		display: block;
		float: none;
		width:100%;
		padding-right: 0;
		padding-left: 0;
		text-align: left;
		margin: 0
	}
	.true-tabs > ul {
		margin-top: 0;
		margin-right: 0;
		margin-left: 0
	}
	.true-tabs > ul > li {
		-o-transform-origin: 50% 0%;
		-ms-transform-origin: 50% 0%;
		-moz-transform-origin: 50% 0%;
		-webkit-transform-origin: 50% 0%
	}
	.true-tabs.animation9 > ul > li {
		-webkit-transform: rotateX(-90deg)
	}
}
